<%= form_for(message) do |f| %>
  <%= render partial: 'shared/alerts', locals: {model: @message} %>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="message_title">To</label>

    <div class="col-lg-10">
      <input autofocus="autofocus" id="message_recipient" name="message[recipient]" type="text" value="<%= recipient.nil? ? '' : recipient.username %>"
             <% unless recipient.nil? %>readonly
             <% end %> />
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10"><%= f.text_field :title, autofocus: true %></div>
  </div>
  <div class="form-group">
    <%= f.label :body, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10"><%= f.text_area :body, autofocus: true %></div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2"><%= f.submit 'Send', class: 'btn btn-sm btn-primary' %></div>
  </div>
<% end %>