<%= form_for(message) do |f| %>
  <%= render partial: 'shared/alerts', locals: {model: @message} %>
  <fieldset>
    <legend>Message</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="message_title">To</label>

      <div class="col-lg-10">
        <% if recipient.nil? %>
          <input autofocus="autofocus" id="message_recipient" name="message[recipient]" type="text" class="form-control" />
        <% else %>
          <input id="message_recipient" name="message[recipient]" type="text" readonly value="<%= recipient.username %>" class="form-control" />
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_field :title, autofocus: true, class: 'form-control' %></div>
    </div>
    <div class="form-group">
      <%= f.label :body, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10"><%= f.text_area :body, autofocus: true, width: '100%', class: 'form-control' %></div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2"><%= f.submit 'Send', class: 'btn btn-sm btn-primary' %></div>
    </div>
  </fieldset>
<% end %>