<%= form_tag '/search', method: 'get' do %>
  <div class="form-group">
    <%= label_tag :query, 'Search for:', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10"><%= text_field_tag :query %></div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2"><%= submit_tag 'Search', class: 'btn btn-sm btn-primary' %></div>
  </div>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th>Result</th>
    <th width="7%"></th>
  </tr>
  </thead>
  <% @search_result.each do |result| %>
    <tr>
      <td><%= result.username %></td>
      <td>
        <div class="btn-group" role="toolbar">
          <a href="/messages/new?recipient_id=<%= result.id %>" class="btn btn-xs btn-primary btn-group" data-toggle="tooltip" data-placement="top" title="Message"><span class="glyphicon glyphicon-envelope"></span></a>
          <% if current_user.has_favourite?(result) %>
            <a href="" onclick="window.app.removeFromFavourites(<%= current_user.id %>, <%= result.id %>)" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Favourite"><span class="glyphicon glyphicon-star"></span></a>
          <% else %>
            <a href="" onclick="window.app.addToFavourites(<%= current_user.id %>, <%= result.id %>)" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Favourite"><span class="glyphicon glyphicon-star-empty"></span></a>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>