<%= form_for @event do |f| %>
  <%= render partial: 'shared/alerts', locals: {model: @event} %>
  <div class="form-group">
    <%= f.label :event_name, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10"><%= f.text_field :event_name, autofocus: true %></div>
  </div>
  <div class="form-group">
    <%= f.label :event_date, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10"><%= f.date_field :event_date, autofocus: true, width: '100%' %></div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2"><%= f.submit 'Save', class: 'btn btn-sm btn-primary' %></div>
  </div>
<% end %>