<h1>Events
  <small>Schedule</small>
</h1>

<%= render partial: 'shared/suggested_events', locals: {suggested_events: @suggested_events} %>

<%= render partial: 'shared/admin_tool_bar', locals: {collection: @events, source_name: 'events'} %>

<div>
  <table id="events" class="table table-condensed table-hover">
    <thead>
    <tr>
      <th width="1%"></th>
      <th>Date</th>
      <th>Event</th>
      <th width="1%"></th>
    </tr>
    </thead>
    <% @events.order(date: :desc).each do |event| %>
      <tr id="<%= event.id %>">
        <td>
          <% if can? :manage, event %>
            <input id="chk_event_<%= event.id %>" type="checkbox">
          <% end %></td>
        <td><%= event.date %></td>
        <td><%= event.name %></td>
        <td><a href="/events/<%= event.id %>" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Information"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      </tr>
    <% end %>
  </table>
</div>