<h1>Events <small>Schedule</small></h1>

<% if can? :manage, @events %>
<div class="row">
  <div class="col-md-2">
    <div class="btn-group" role="toolbar">
      <a href="/events/new" class="btn btn-xs btn-primary btn-group" data-toggle="tooltip" data-placement="top" title="New"><span class="glyphicon glyphicon-plus-sign"></span></a>
      <a href="" onclick="window.deleteEvents()" class="btn btn-xs btn-danger btn-group" data-toggle="tooltip" data-placement="top" title="Delete Selected"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  </div>
</div>
<% end %>

<div>
  <table id="events" class="table table-condensed table-hover">
    <thead>
    <tr>
      <th width="1%"></th>
      <th>Date</th>
      <th>Event</th>
      <th width="1%"></th>
    </tr>
    </thead>
    <% @events.order(event_date: :desc).each do |event| %>
    <tr id="<%= event.id %>">
      <td><% if can? :manage, event %><input id="chk_event_<%= event.id %>" type="checkbox"><% end %></td>
      <td><%= event.event_date %></td>
      <td><%= event.event_name %></td>
      <td><a href="/events/<%= event.id %>" class="btn btn-xs btn-group" data-toggle="tooltip" data-placement="top" title="Information"><span class="glyphicon glyphicon-info-sign"></span></a></td>
    </tr>
    <% end %>
  </table>
</div>