<%= image_tag @event.image.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Information:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.country %> <%= @event.province %>
</p>
<hr/>
<%= link_to 'Back', events_path %>